*{
  padding: 0;
  margin: 0;
}
.container{
    margin-left: 250px;
  }
  .list{
    display: grid;
    grid-template-columns: 13% 13% 13% 25% 13% 13% 13%;
    grid-gap: 12px;
    justify-content: start;
  }
  .item{
    border: 1px solid black;
    border-radius: 15px;
    background: #f7f7f7;
    padding: 20px;
    text-align: center;
  }
  p{
    text-align: center;
    font-family: 'Lucida Sans';
  }
  .score{
    text-align: center;
    font-family: 'Lucida Sans';
    font-weight: 600;
    font-size: 50px;
  }
  .footer{
    margin-top: 10px;
    margin-left : 250px;
    font-size : 18px;
  } 














